.heading {
  width: fit-content;
  height: fit-content;
  margin: auto auto;
  text-align: center;
}

.logo_list {
  width: 100%;
  height: fit-content;

  margin: 2rem auto 0rem auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;
}

.logo {
  max-width: 150px;
  max-height: 50px;
}
