.button {
  padding: 1em 1.5em;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: transform 0.1s ease-in-out;
  line-height: 1;
}

.primary {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

.secondary {
  background-color: var(--clr-primary);
  border-color: var(--clr-accent);
  color: var(--clr-secondary);
}

.button:hover {
  transform: scale3d(1.05, 1.05, 1);
}
