.card {
  aspect-ratio: 2/3;
  width: 100%;
  max-width: 330px;
  height: auto;
  padding: 2rem 1rem;
  margin: auto auto;

  background-color: #ffffff;
  border-radius: 0.25rem;
  border-top: 0.5rem solid var(--clr-accent);
  box-shadow: 0rem 0.5rem 4px -2px #000000;
}

.card > h3 {
  margin-top: 2rem;
}

.card > p {
  min-height: calc(calc(1.25 * 1rem) * 8);
}
