---
import HeroSection from '../components/HeroSection/HeroSection';
import SectionFive from '../components/SectionFive/SectionFive';
import SectionFour from '../components/SectionFour/SectionFour';
import SectionSix from '../components/SectionSix/SectionSix';
import SectionThree from '../components/SectionThree/SectionThree';
import SectionTwo from '../components/SectionTwo/SectionTwo';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lumintos">
	<main>
		<HeroSection/>
		<SectionTwo/>
		<SectionThree/>
		<SectionFour/>
		<SectionFive client:load/>
		<SectionSix/>
	</main>
</Layout>

