.button_container {
  width: fit-content;
  height: fit-content;
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.carousel__button {
  aspect-ratio: 1/1;
  width: 50px;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
}

.slide_ref_button {
  aspect-ratio: 1/1;
  width: 1rem;
  height: auto;

  border-radius: 100%;
  border: none;
  background-color: var(--clr-accent-fade);
}

.slide_ref_button[data-focused='true'] {
  background-color: var(--clr-accent);
}

.slides_container {
  position: relative;

  width: 100%;
  height: 500px;
  padding: 2rem;

  list-style-type: none;
  overflow-x: hidden;
}

.slide {
  position: absolute;
  top: 16%;
  left: 50%;

  transition: all 0.5s ease-in-out;
}

.slide[data-position='1'] {
  transform: translate3d(-50%, 0%, 0);
}

.slide[data-position='2'] {
  transform: translate3d(60%, 0%, 0);
}

.slide[data-position='3'] {
  transform: translate3d(170%, 0%, 0);
  opacity: 0.1;
}

.slide[data-position='4'] {
  transform: translate3d(-270%, 0%, 0);
  opacity: 0.1;
}

.slide[data-position='5'] {
  transform: translate3d(-160%, 0%, 0);
}
