.main_element {
  width: 100%;
  height: fit-content;
  padding: 5rem 2rem 0rem 2rem;

  color: white;
  background-color: var(--clr-secondary);
}

.top_content_container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}

.top_content_container > div:nth-child(1),
.top_content_container > div:nth-child(2) {
  flex: 1 1 50%;
}

.top_content_container > div:nth-child(1) > img {
  aspect-ratio: 4/3;
  width: 200px;
  height: auto;

  object-fit: contain;
}

.nav_links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;

  list-style-type: none;
}

.nav_links > li > b {
  color: var(--clr-accent);
  font-size: 1.25rem;
}

.nav_links > li > ul {
  margin-top: 1rem;
  list-style-type: none;
}

.nav_links > li > ul > li {
  margin-top: 0.75rem;
}

.middle_content_container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}

.middle_content_container > form,
.middle_content_container > ul {
  flex: 1 1 50%;
  height: fit-content;
}

.middle_content_container > form > div {
  width: fit-content;
  height: fit-content;

  border: 2px solid var(--clr-accent);
  border-radius: 0.5rem;
  overflow: hidden;
}

.middle_content_container > form > div > input {
  width: 30rem;
  padding: 0.75rem 1rem;

  font-size: 1.25rem;
  background-color: transparent;
}

.middle_content_container > form > div > button {
  padding: 0.85rem 1rem;

  font-size: 1.25rem;
  color: var(--clr-primary);
  background-color: var(--clr-accent);
  border: none;
}

.middle_content_container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;

  list-style-type: none;
}

.middle_content_container > ul > li > img {
  aspect-ratio: 1/1;
  width: 3.5rem;
  height: auto;
  filter: invert(100);
}

.content_container > hr {
  margin-top: 3rem;
}

.content_container > small {
  display: block;
  padding: 1rem 0rem;

  text-align: center;
}
