.decoration {
  width: fit-content;
  height: fit-content;
}

.decoration > hr {
  display: inline-block;
  width: 2rem;
  height: fit-content;
  margin: 0.3rem 1rem 0.3rem 0rem;
}

.heading > span {
  color: var(--clr-accent);
}
